#merge [{:app/client-bot
         {:token #env "CLIENT_BOT_TELEGRAM_TOKEN"
          :url #env "SELF_URL"
          :courrier-chat-id #env "COURIER_CHAT_ID"
          :long-polling-config {:timeout #or [#env "CLIENT_BOT_LONG_POLLING_TIMEOUT" 10]
                                :sleep #or [#env "CLIENT_BOT_LONG_POLLING_SLEEP" 1000]}}

         :db/execute!
         {:ds #ig/ref #profile {:default :db/ds
                                :test :test-utils/db-ds}}}
        
        #include #profile {:test "test_config.edn"
                           :default "default_config.edn"}]
